@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    interpolate-size: allow-keywords;

    --background: 260, 82%, 30%;
    --foreground: 0 100% 100%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 260 84% 51%;
    --popover-foreground: 0 100% 100%;

    --primary: 260, 82%, 30%;
    --primary-foreground: 0 100% 100%;

    --secondary: 360 100% 67%;
    --secondary-foreground: 210 40% 98%;

    --secondary-muted: 0 100% 95%;
    --secondary-muted-foreground: 0, 100%, 0%;

    --muted: 260, 84%, 95%;
    --muted-foreground: 0, 100%, 0%;

    --accent: 260 84% 51%;
    --accent-foreground: 0 100% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 360 100% 88%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    .prose {
      @apply flex flex-col gap-y-4;
      ::marker {
        @apply font-bold text-eyebrow;
      }
      text-wrap-style: pretty;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply mt-4 first:mt-0 last:mb-0;
      }
      ol,
      ul {
        @apply flex flex-col gap-y-2 ps-5;
      }
      li {
        @apply ps-1;
      }
      ul {
        list-style-type: disc;
        ul {
          list-style-type: circle;
        }
      }
      ol {
        list-style-type: number;
        ol {
          list-style-type: lower-alpha;
          ol {
            list-style-type: lower-roman;
          }
        }
      }
      li > p {
        @apply first:mt-0 last:mb-0;
      }
      [data-type='emoji'] > img {
        @apply my-0 inline-block;
      }
      pre {
        @apply overflow-auto rounded-lg bg-black/80 p-4 text-white;
      }
      code {
        @apply font-mono;
      }
    }
  }

  .theme--light {
    --background: 0 100% 100%;
    --foreground: 0 0 7%;
    --highlight: 360 100% 67%;
    --eyebrow: 360 100% 67%;
    --muted: 0 100% 95%;
    --muted-forground: 0 100% 0%;
    --accent: 260 84% 51%;
    --accent-foreground: 0 100% 100%;
    --card: 260 82% 30%;
    --card-foreground: 0 100% 100%;
  }
  .theme--image,
  .theme--dark {
    --background: 260, 82%, 30%;
    --foreground: 0 100% 100%;
    --highlight: 360 100% 67%;
    --eyebrow: 360 100% 67%;
    --muted: 260, 82%, 30%;
    --muted-foreground: 0 100% 100%;
    --accent: 260, 82%, 30%;
    --accent-foreground: 0 100% 100%;
    --card: 260 84% 51%;
    --card-foreground: 0, 100%, 100%;
  }

  .theme--dark {
    &.section {
      & + & {
        @apply pt-0;
      }
    }
  }

  .theme--muted {
    --background: 260 84 95%;
    --foreground: 0 0 7%;
    --highlight: 360 100% 67%;
    --eyebrow: 360 100% 67%;
    --muted: 260 84% 51%;
    --muted-foreground: 0, 100%, 100%;
    --accent: 260 84% 51%;
    --accent-foreground: 0 100% 100%;
    --card: 260 82% 30%;
    --card-foreground: 0 100% 100%;
    &.section {
      & + & {
        @apply pt-0;
      }
    }
  }

  .theme--alternate {
    --background: 360 100% 67%;
    --foreground: 0 100% 1000%;
    --highlight: 260 82% 30%;
    --eyebrow: 360 100% 67%;
    --muted: 0 100% 95%;
    --muted-foreground: 0 100% 0%;
    --accent: 260 84% 51%;
    --accent-foreground: 0 100% 100%;
    --card: 260, 82%, 30%;
    --card-foreground: 0 100% 100%;
    &.section {
      & + & {
        @apply pt-0;
      }
    }
  }

  ::selection {
    @apply bg-pink text-white;
  }

  ::-moz-selection {
    @apply bg-pink text-white;
  }

  ::-webkit-scrollbar {
    @apply h-1 w-1;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-xl bg-purple-700/50;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-pink;
  }
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer base {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    @apply font-heading font-extrabold;
  }

  h1,
  .h1 {
    @apply text-5xl sm:text-6xl lg:text-7xl;
  }

  h2,
  .h2 {
    @apply text-3xl lg:text-4xl;
  }

  h3,
  .h3 {
    @apply text-2xl lg:text-3xl;
  }

  h4,
  .h4 {
    @apply text-xl sm:text-2xl;
  }

  h5,
  .h5 {
    @apply text-xl;
  }

  h6,
  .h6 {
    @apply text-base;
  }

  .btn {
    @apply inline-flex items-center gap-x-1 overflow-hidden rounded-full px-6 py-3 text-center text-sm font-bold uppercase transition-all disabled:cursor-not-allowed disabled:opacity-50 lg:px-6 lg:py-3;
  }
  .btn--sm {
    @apply px-3 py-2.5 text-xs lg:px-4 lg:py-3;
  }
  .btn--purple {
    @apply bg-primary text-primary-foreground;
  }

  .btn--pink {
    @apply bg-secondary text-secondary-foreground;
  }

  .btn--white {
    @apply bg-white text-purple;
  }
}

@layer components {
  .eyebrow {
    @apply text-sm uppercase tracking-wide text-eyebrow;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

html.lenis-stopped body {
  @apply pr-1;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
